<app-header></app-header>

<div class="container-last-section">
  <div class="content-view p-0">
    <div class="body-not-found">
      <h2 class="description-text">
        {{ "NOT_FOUND.TITULO" | translate }}
      </h2>
      <img
        class="image-not-found"
        src="../../../../assets/not-found.svg"
        alt="logo"
      />
      <div class="container-button">
        <button class="button btn-contact is-outlined" (click)="goTo('')">
          {{ "NOT_FOUND.RETORNAR" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
