<section #recomendations class="section-recomendations container-main-view">
  <div class="content-view container-recomendations">
    <div class="main-text">
      <h1 class="title">
        {{ "RECOMMENDATIONS.TITULO" | translate }}
      </h1>
      <span class="description">
        {{ "RECOMMENDATIONS.DESCRIPCION" | translate }}
      </span>
    </div>
    <div class="box-recomendations">
      <div #testimonyComponent>
        <app-testimony [testimony]="currentTestimony"> </app-testimony>
      </div>
    </div>
    <div class="controls">
      <div
        class="container-dot"
        *ngFor="let item of testimonies; let i = index"
      >
        <span
          (click)="controlDot(i)"
          class="dot"
          [ngClass]="{ 'dot-active': activeDot === i }"
        ></span>
      </div>
    </div>
  </div>
</section>
