@import "./src/shared.scss";

.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $base-color;
  padding: 1rem 1.5rem 4rem;
  color: #fff;
}

.section {
  padding: 5rem 1.5rem;
}

.container-start-project {
  display: flex;
  padding: 3.5rem 1.25rem;
  margin: 0 auto;
  margin-top: -9rem;
  background-color: #141c3a;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #141c3a;
  border-radius: 12px;
  color: $white-color;
  max-width: $big-max-width;
}

.start-project,
.container-info-footer {
  width: 100%;
  display: flex;
  align-items: center;
}

.custom-logo{
  height: 60px;
}

.container-info-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-start-project {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.title-start-project {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.btn-contact {
  font-weight: 400;
  font-size: 18px;
  padding: 0.7em 2rem;
  background-color: #0000;
  border-radius: 9999px;
  border: 2px solid $base-color;
  color: white;
}

.is-outlined:hover {
  background-color: $base-color;
  border-color: $base-color;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.motivation-text {
  opacity: 0.7;
  max-width: 320px;
  text-align: center;
}

.controls {
  display: flex;
  margin: 2rem 0;
}

.item-link {
  cursor: pointer;
  margin: 0 10px;
  padding: 7px 12px;
  border-radius: 50%;
  border: 2px solid #ffffff4d;
}

.item-link:hover {
  background-color: white;
  color: $base-color;
}

.copy-right {
  margin-top: 0.7rem;
  font-size: 1rem;
  opacity: 0.7;
}

.small-text {
  font-size: 0.7rem;
}

.bold {
  font-weight: bold;
}
