@import "./src/shared.scss";

.content-collaborations {
  margin: 10rem auto;
  border-top: 1px solid #e6ecf8;
}

.title {
  font-weight: bolder;
  margin: 0;
}

.main-text {
  text-align: center;
  margin-bottom: 3rem;
}

.description {
  font-size: 1.3rem;
  font-weight: initial;
}

.container-jobs {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.job-image {
  width: 100%;
  max-width: 100%;
  display: block;
  min-height: 250px;
  height: 250px;
}

.card-job {
  flex: none;
  width: 33.33%;
  box-sizing: border-box;
  padding: 0.75rem;
}

.custom-figure {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  margin: 0;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}

.custom-figure:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.figcaption {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  opacity: 0;
  transition: 0.45s ease-in-out;
  color: white;
}

.custom-figure:hover figcaption {
  background-color: #141c3a;
  opacity: 1;
}

.figcaption {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 3rem;
  color: #fff;
  z-index: 1;
}

.job-description {
  font-size: 1.1rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.4rem;
  margin: 0;
}

.go-to-website {
  margin: 0 auto;
  font-size: 18px;
  padding: 0.5rem 1.2rem;
  font-weight: 400;
  border-width: 2px;
  color: #fff;
  border: 2px solid $base-color;
  font-weight: 600;
  border-radius: 9999px;
  text-decoration: none;
  display: flex;
  transition: all 0.2s ease-in-out;
}
.go-to-website:hover {
  background-color: $base-color;
  border: 2px solid #6e07f3;
  color: white;
}

.icon-angle-right {
  margin-left: 5px;
  margin-top: 3px;
}

.link-github {
  cursor: pointer;
  text-transform: initial;
  text-decoration: initial;
  color: #1a8cff;
  font-weight: 600;
  white-space: break-spaces;
}

.link-github:hover {
  color: #0066cd;
  text-decoration: underline;
}

//phone
@media print, screen and (max-width: $max-screen-phone) {
  .content-collaborations {
    margin: 3rem auto;
    border-top: 0;
  }
  .title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .description {
    font-size: 1rem;
  }
  .card-job {
    width: 100%;
  }
}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.1rem;
  }
}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
