<section #collaborations class="container-main-view">
  <div class="content-view content-collaborations">
    <div class="main-text">
      <h2 class="title">Mi trabajo reciente</h2>
      <span class="description"
        >Aqui hay algunos proyectos de desarrollo en los que he trabajado
        ¿Quieres ver más?
        <a class="link-github" href="https://github.com/daniellopezj01" target="_blank">
          click aqui</a
        >
      </span>
    </div>
    <div class="container-jobs">
      <div class="card-job" *ngFor="let job of jobs; let i = index">
        <figure class="custom-figure">
          <img class="job-image" [src]="job.image" alt="logo" />
          <figcaption class="figcaption">
            <h3 >{{ job.title }}</h3>
            <h4 class="job-description">{{ job.description }}</h4>
            <a [href]="job.link" target="_blank" class="go-to-website">
             {{job.type === 'video'?  'Ver video ':'Visitar sitio web'}}
              <fa-icon class="icon-angle-right" [icon]="faAngleRight"></fa-icon
            ></a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
