<section #collaborations class="container-main-view">
  <div class="content-view content-collaborations">
    <div class="main-text">
      <h1 class="title">
        I'm proud to have collaborated with some awesome companies:
      </h1>
    </div>
    <div class="container-companies">
      <img
        *ngFor="let company of companies; let i = index"
        class="custom-logo"
        [src]="company.logo"
        alt="logo"
      />
    </div>
  </div>
</section>

<div class="container-main-view collaborate-container">
  <div class="content-view">
    <h2>Interested in collaborating with me?</h2>
    <span class="description"
      >I’m always open to discussing product design work or partnership
      opportunities.</span
    >
    <div class="container-button">
      <button class="button btn-contact is-outlined">

        Start a conversation
      </button>
    </div>
  </div>
</div>
