@import "./src/shared.scss";

.content-collaborations {
  margin: 10rem auto;
  border-top: 1px solid #e6ecf8;
  padding-top: 7rem;
}

.container-companies {
  max-width: $big-max-width;
  margin: auto;
  display: flex;
  justify-content: inherit;
  flex-wrap: wrap;
}

a {
  display: flex;
  justify-content: inherit;
  flex-wrap: wrap;
}
.custom-logo {
  cursor: pointer;
  margin: 20px 80px;
  height: auto;
  width: 125px;
}

.title {
  // font-size: 1.3rem;
  font-weight: bolder;
  margin: 0;
}

.main-text {
  text-align: center;
  margin: 0 20%;
  margin-bottom: 3rem;
}

.collaborate-container {
  margin-top: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  color: white;
}

.description {
  font-size: 1.3rem;
  font-weight: initial;
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.btn-contact {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  background-color: #0000;
  color: white;
  border-radius: 9999px;
  border: 2px solid white;
  padding: 0.8rem 50px;
}

.is-outlined:hover {
  background-color: white;
  border: 2px solid $base-color;

  color: $base-color;
  transition: all 0.2s ease-in-out;
}

.collaborate-container {
  padding-bottom: 5rem;
  border-bottom: 1px solid #e6ecf8;
}

.icon-message {
  margin-right: 8px;
}

.card-container-company{
  box-shadow: 0 0 5px 0 rgb(112 112 112 / 50%);
  margin: 20px;
  max-width: 350px;
}

//phone
@media print, screen and (max-width: $max-screen-phone) {
  .content-collaborations {
    margin: 3rem auto;
    padding-top: 2rem;
  }
  .title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .main-text {
    margin: 0;
    margin-bottom: 0;
  }
  .container-companies {
    max-width: initial;
  }
  .custom-logo {
    margin: 30px;
    width: 125px;
  }

  .collaborate-with-me {
    h2 {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
  .description {
    font-size: 1rem;
    font-weight: initial;
  }

  .collaborate-container {
    margin-top: 0;
    padding-bottom: 0;
    padding: 2rem 0;
  }

  .btn-contact {
    font-size: 1rem;
    padding: 0.6rem 30px;
  }
  .card-container-company{
    margin: 20px 0;
    width: 95%;
    max-width: 95%;
  }
}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
  .content-collaborations {
    margin: 3rem auto;
    padding-top: 2rem;
  }
  .main-text {
    margin: 0;
  }
  .description {
    font-size: 1.1rem;
    font-weight: initial;
  }

  .btn-contact {
    font-size: 1.1rem;
    padding: 0.7rem 35px;
  }
  .custom-logo {
    margin: 30px;
    width: 125px;
  }
}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
