<section #collaborations class="container-main-view">
  <div class="content-view content-collaborations">
    <div class="main-text">
      <h2 class="title">
        Estoy orgulloso de haber colaborado con algunas compañías increíbles:
        <!-- I'm proud to have collaborated with some awesome companies: -->
      </h2>
    </div>
    <div class="container-companies">
      <a
        *ngFor="let company of companies; let i = index"
        [href]="company.link"
        target="_blank"
      >
        <img
          class="custom-logo"
          [src]="company.logo"
          alt="logo"
          href="https://www.google.com/"
        />
      </a>
    </div>
  </div>
</section>

<div class="container-main-view collaborate-container">
  <div class="content-view">
    <h2>
      ¿Interesada en colaborar conmigo?
      <!-- Interested in collaborating with me? -->
    </h2>
    <span class="description"
      >Siempre estoy abierto a discutir el trabajo de desarrollo de productos o
      las oportunidades de asociación.</span
    >
    <div class="container-button">
      <button class="button btn-contact is-outlined">
        <fa-icon [icon]="faMessage" class="icon-message"></fa-icon>
        Iniciar una conversación
        <!-- Start a conversation -->
      </button>
    </div>
  </div>
</div>
