@import "./src/shared.scss";

.wrapper-testimony {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.2rem;
}

.avatar-container {
  display: flex;
  margin: auto;
}

.custom-avatar {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.description {
  margin: 2rem auto;
  font-size: 1.3rem;
  text-align: center;
}

.name {
  font-weight: bolder;
}

.proffesion {
  font-size: 1rem;
}

//phone
@media print, screen and (max-width: $max-screen-phone) {
  .description {
    font-size: 1rem;
    font-weight: initial;
  }
}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
  .description {
    font-size: 1.1rem;
    font-weight: initial;
  }
}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
