<div class="content-view custom-container">
  <div class="logo-container">
    <div class="around-image">
      <img
        class="custom-avatar"
        src="../../../../../assets/avatar.svg"
        alt="logo"
      />
    </div>
  </div>
</div>
<div class="container-last-section">
  <div class="content-view p-0">
    <div class="body-success">
      <h2 class="description-text">
        Thanks for taking the time to reach out. How can I help you today?
      </h2>
      <h4>tu mensaje ha sido enviado, en breve tiempo me pondre en contacto</h4>
      <img
        class="image-send-message"
        src="../../../../assets/send-email.svg"
        alt="logo"
      />
      <div class="container-button">
        <button class="button btn-contact is-outlined" [routerLink]="[ '/' ]" >Continue</button>
      </div>
    </div>
  </div>
</div>
