@import "./src/shared.scss";

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  height: 66px;
  z-index: 1001;
  font-size: 10px;
  position: initial;
  left: 0px;
  right: 0px;

  // background-color: red;
  background-color: $white-color;
}

.custom-nav {
  background-color: transparent;
  z-index: 1001;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
 max-width: 1200px;
  width: 100%;
}

.logo {
  cursor: pointer;
  // background-image: url("../../../../../../assets/logo.svg");
  // background-repeat: no-repeat;
  // background-color: transparent;
  // background-position: center;
  // background-size: contain;
  // height: 7rem ;
  // width: 12rem ;
  // background-size: 12rem;
}


//phone
@media print, screen and (max-width: 740px) {
}

//tablets and smartphone
@media print, screen and (max-width: 1200px) {
  .main {
    display: flex;
    padding-right: 0rem;
  }
  .container-logo {
    margin-right: 0;
    min-height: 3rem;
    padding-left: 0;
  }
  .logo {
    height: 7rem;
    width: 8rem;
    // background-image: url("../../../../../../assets/logo.svg");
    background-size: 10rem;
  }
  .cont-small-form {
    width: 100%;
    display: flex;
  }
  .small-form {
    min-width: 50%;
    flex-grow: 1;
    margin: auto;
    position: relative;
    margin-left: 0.3rem;
  }
}

//desktop
@media print, screen and (min-width: 1216px) {
}
