<div class="main-container">
  <nav class="custom-nav">
    <div class="navbar-end" [routerLink]="['/success']">
      <img
        class="custom-logo"
        src="../../../../../assets/logo.png"
        alt="logo"
      />
      <span class="title"> Daniel López</span>
    </div>
    <div class="navbar-end">
      <button
        class="button btn-contact language-button"
        (mouseover)="hoverLanguage = true"
        (mouseout)="hoverLanguage = false"
      >
        <img
          src="{{ '../../../../../assets/' + selectLanguage.flag + '.png' }}"
          alt="{{ selectLanguage.text | translate }}"
        />

        <span> {{ selectLanguage.text | translate }}</span>
        <fa-icon [icon]="faAngleDown" class="arrow-icon fade"></fa-icon>
        <div class="container-languages">
          <div class="items-languages">
            <div
              class="language"
              (click)="changeLanguage(language.value)"
              *ngFor="let language of languages"
            >
              <img
                src="{{ '../../../../../assets/' + language.flag + '.png' }}"
                alt=""
              />
              <span>{{ language.text | translate }}</span>
            </div>
          </div>
        </div>
      </button>
      <button class="button btn-contact is-outlined">
        <!-- Say Hello -->
        {{ "HEADER.DECIR_HOLA" | translate }}
      </button>
    </div>
  </nav>
</div>
