<div class="main-container">
  <nav class="custom-nav">
    <div class="navbar-end" (click)="goTo('')">
      <img
        class="custom-logo"
        src="../../../../../assets/logo.png"
        alt="logo"
      />
      <span class="title"> </span>
    </div>
    <div class="navbar-end big-view">
      <button
        class="button btn-contact language-button"
        (mouseover)="hoverLanguage = true"
        (mouseout)="hoverLanguage = false"
      >
        <img
          src="{{ '../../../../../assets/' + selectLanguage.flag + '.png' }}"
          alt="{{ selectLanguage.text | translate }}"
        />

        <span> {{ selectLanguage.text | translate }}</span>
        <fa-icon [icon]="faAngleDown" class="arrow-icon fade"></fa-icon>
        <div class="pop-up-container">
          <div class="items-languages">
            <div
              class="language"
              (click)="changeLanguage(language.value)"
              *ngFor="let language of languages"
            >
              <img
                src="{{ '../../../../../assets/' + language.flag + '.png' }}"
                alt=""
              />
              <span>{{ language.text | translate }}</span>
            </div>
          </div>
        </div>
      </button>
      <button class="button btn-contact is-outlined" (click)="goTo('contact')">
        {{ "HEADER.DECIR_HOLA" | translate }}
      </button>
    </div>
    <div class="small-view">
      <button
        name="managerMenu"
        (click)="showPopUp = !showPopUp"
        (clickOutside)="showPopUp = false"
        aria-label="search"
        class="btn animated pop-up-button"
      >
        <fa-icon
          class="custom-icon-pop-up"
          [icon]="faEllipsisVertical"
        ></fa-icon>
        <div class="pop-up-container-small" *ngIf="showPopUp">
          <span class="pop-up-title">{{ "HEADER.IDIOMA" | translate }}</span>
          <div class="items-languages">
            <div
              class="language"
              (click)="changeLanguage(language.value)"
              *ngFor="let language of languages"
            >
              <img
                src="{{ '../../../../../assets/' + language.flag + '.png' }}"
                alt=""
              />
              <span class="text-language">{{ language.text | translate }}</span>
            </div>
          </div>
          <span class="pop-up-title">{{ "HEADER.CONTACTO" | translate }}</span>
          <button
            class="button btn-contact is-outlined small-contact"
            (click)="goTo('contact')"
          >
            {{ "HEADER.DECIR_HOLA" | translate }}
          </button>
        </div>
      </button>
    </div>
  </nav>
</div>
