<section class=" container-main-view container-about-me">
  <div class="content-view content-about-me">
    <h1 class="title">Hola, Soy Daniel. Encantado de conocerte.</h1>
    <span class="description">
      Hola desde que comence en el mundo del desarrollo he participado en grandes proyectos por mas de 3 años, he trabajado de forma remota para agencias de diferentes paises y he tenido la oportunidad de encontrar personas talentosas que han contribuido a mi crecimiento profesional. me destaco por mi disciplina y mi compromiso con el aprendizaje continuo, busco mejorar dia a dia. Me encanta lo que hago.
    </span>
  </div>
</section>
