<section class="container-main-view">
  <div class="content-view custom-main-view">
    <div class="view-body">
      <h1 class="title-work">{{ "MAIN_VIEW.TITULO" | translate }}</h1>
      <h2 class="description-text">
        {{ "MAIN_VIEW.DESCRIPCION" | translate }}
      </h2>
      <div class="logo-container">
        <div class="around-image">
          <img
            class="custom-logo"
            src="../../../../../assets/avatar.svg"
            alt="logo"
          />
        </div>
      </div>
    </div>
    <div class="view-footer">
      <img class="setup" src="../../../../../assets/setup.svg" alt="logo" />
    </div>
  </div>
</section>
