@import "./src/shared.scss";
.container-main-view {
  margin: 2rem 0;
  margin-bottom: 0;
  width: 100%;
}

.content-view {
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: $big-max-width;
  padding-bottom: 0;
}

.title-work {
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 1rem;
}

.description-text {
  margin: 0;
  font-size: 1.3rem;
  font-weight: initial;
  margin-bottom: 1rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 5rem 0 ;
}

.around-image {
  background-color: $base-color;
  height: 240px;
  border-radius: 50%;
}

.custom-logo {
  height: 240px;
  border-radius: 50%;
}

.view-footer {
  display: flex;
  justify-content: center;
}


.setup{
  height: 270px;
}
