<section class="container-main-view">
  <div class="content-view">
    <div class="view-body">
      <h1 class="title-work">Designer, Front-end Developer & Mentor</h1>
      <h2 class="description-text">
        I design and code beautifully simple things, and I love what I do.
      </h2>
      <div class="logo-container">
        <div class="around-image">
          <img
            class="custom-logo"
            src="../../../../../assets/avatar.svg"
            alt="logo"
          />
        </div>
      </div>
    </div>
    <div class="view-footer">
      <img class="setup" src="../../../../../assets/setup.svg" alt="logo" />
    </div>
  </div>
</section>
