@import "./src/shared.scss";

.box-skills {
  display: flex;
  margin: 0 auto;
  margin-top: -15rem;
  background-color: $white-color;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
  border-radius: 12px;
  max-width: $big-max-width;
}

.box-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.item-type-skill {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  border-right: 1px solid #E6ECF8;
  border-bottom: 1px solid #E6ECF8;
  padding: 3.5rem 1.25rem;
}
