@import "./src/shared.scss";

.section-skills {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem 1.5rem 4rem;
}

.container-skills {
  padding: 5rem 1.5rem;
}

.box-skills {
  display: flex;
  padding: 3.5rem 1.25rem;
  margin: 0 auto;
  margin-top: -15rem;
  background-color: #141c3a;
  // background-color: $white-color;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #141c3a;
  border-radius: 12px;
  color: $white-color;
  max-width: $big-max-width;
}

.box-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.item-type-skill {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
