<div class="content-view custom-container">
  <nav class="custom-nav">
    <div [routerLink]="['/']">
      <img
        class="custom-logo"
        src="../../../../../assets/logo.png"
        alt="logo"
      />
    </div>
    <fa-icon  [routerLink]="['/']"  [icon]="faXmark" class="icon-message"></fa-icon>
  </nav>
  <div class="logo-container" >
    <div class="around-image" >
      <img
        class="custom-avatar"
        src="../../../../../assets/avatar.svg"
        alt="logo"
      />
    </div>
  </div>
</div>
<div class="container-last-section">
  <div class="content-view p-0">

    <div class="title-container">
      <h1 class="description-text">
        Thanks for taking the time to reach out. How can I help you today?
      </h1>
    </div>
  </div>
</div>
